

main {
    background-color: #39ff14;
}

form {
    background-color: #ccff00; 
    text-align: left;
    width: 40%;
    height: 75vh;
    border-radius: 10px;
    // margin:  0 auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}





// .results {
//     // background: rebeccapurple;
//     height: 20%;
//     // visibility: hidden;
// }

