header {
    background: blue;
    height: 50vh;
}

.questionOne {
    background: orange;
    height: 50vh;
}

.questionTwo {
    background: green;
    height: 50vh;

}

.questionThree {

    background: pink;
    height: 50vh;

}

.results {
    background: rebeccapurple;
    height: 50vh;
}