
// general stylez

main, header {
    background-color: #fb33db;
    position: relative;
}

header {
    height: 20vh;
    width: 100%;
    padding-top: 40px;
    z-index: 999;

}

main {
    height: 80vh;
    padding-top: 130px;
    // position: relative;
}

// h1glow effect

.headerTitle {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    // padding-bottom: 20px;
  }

  h1 {

    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
//    0 0 100px #0310ea, 0 0 150px #0310ea

//   0 0 50px #0310ea, 0 0 75px #0310ea;
    @-webkit-keyframes neon1 {
        from {
          text-shadow: 0 0 10px #7fff00, 0 0 20px #7fff00, 0 0 30px #7fff00, 0 0 40px #0310ea, 0 0 70px #0310ea, 0 0 80px #0310ea;
        }
        to {
          text-shadow: 0 0 5px #7fff00, 0 0 10px #7fff00, 0 0 15px #7fff00, 0 0 20px #0310ea, 0 0 35px #0310ea,0 0 40px #0310ea;
        }
      }



// form stylez

form { 
    // position: relative;
    font-family: 'Caveat Brush', cursive;
    color: #0310ea; 
    text-transform: uppercase;
    background-color: #fcf340; 
    text-align: center;
    width: 40%;
    height: 50vh;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 0 15px 20px;
    // position: relative;
    // margin:  0 auto;
   

}

fieldset {
    border: none;
}

.legendDiv {
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;

}

.answerDiv {
    font-size: 2rem;
}



// flex form container to center

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

// center header text

.headerCopy {
    text-align: center;
}

// image stylez

.image1 {
    width: 30%;
    height: 55%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    // img {
    //     box-shadow: 0 0 15px 20px;
    //     color: #fcf340;
    
    
}
.image2 {
    width: 25%;
    height: 50%;
    position: absolute;
    left: 200px;
    bottom: 0px;
}

.image3 {
    width: 25%;
    height: 55%;
    position: absolute;
    left: 200px;
    top: 30px;
}

.image4 {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 80px;
    top: 100px;
}

.image5 {
    width: 35%;
    height: 55%;
    position: absolute;
    right: 0px;
    top: 0px;
}

// button stylez


    input[type=submit] {
        font-size: 2rem;
        background: #7fff00;
        padding: 5px 15px;
        border-radius: 15px;
        color: #0310ea;
        box-shadow: 5px 5px;

}
          
    input[type=submit]:hover {
        box-shadow: 0 0 8px 10px;
        transition: all 1s;

}

// results container

.results h2 {
    // position: absolute;
    font-size: 3rem;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background: #fcf340;
    color: #0310ea;
    font-family: 'Caveat Brush', cursive;
    border-radius: 10px;
    box-shadow: 0 0 15px 20px;
    margin-top: 30px;
    
}

// error div 

// .errorTxt{
//     border: 1px solid red;
//     min-height: 20px;
//   }

